<section class="user">  
  
  <%= render "shared/profile",  user: @user %>
  <div class="d-flex">    
    <%= link_to "NEW POST", new_user_post_path(@user), class:"btn btn-primary me-3" %>
    
    <%= button_to "DELETE USER", user_path,                                                      
                    confirm: "Are you sure?",                
                    method: :delete, 
                    class:"btn btn-danger "  %>
  </div>
  <div class="card mt-2 p-3 user-bio bg-content">
    <h3>Bio</h3>
    <p class="ps-3"><%=@user.bio%></p>
  </div>

  <% @user.posts.order(id: :asc).limit(3).each do |post| %>
    <%= render "shared/post", post: post %>
  <%end %>

  <% if @user.posts.count > 3 %>  
    <input type="button" value="See All Posts" class= "btn btn-secondary me-3 my-3" />
  <%end%>

  <%= link_to "HOME", users_path, class:"btn btn-primary my-3" %>    
</section>