<%= form_with model: @comment, url: new_comment_path do |form| %>
  <div class="w-50">
    <%= form.hidden_field :author_id, value: params[:user_id] %><br>
    <%= form.hidden_field :post_id, value: params[:post_id] %><br>  
    <div class="form-group">
      <%= form.label "Write your comment here", class: "form-label" %>
      <%= form.text_area :text, size: "70x6", class: "form-control" %>
    </div>
   
     <% @comment.errors.full_messages_for(:text).each do |message| %>
        <div class="mt-3"><%= message %></div>
        <% end %>
     </div>  

    <%= form.submit "Comment", class:"btn btn-dark py-2 px-5 mt-3"%>
  </div>
    
<% end %>