<div class="card p-3 my-2 post">
    <h2 class="post-title"> Post # <%= post.id %> </h2>
    <p class="post-text"><%= post.text%></p>
    <div class="post-status">
      <span class="comment pe-3">
        <strong >Comments: </strong> <%= post.comments_counter %>
      </span>
        <span class="like pe-3">
        <strong>Likes: </strong> <%= post.likes_counter %>
      </span>       
        <%= link_to "See Post", user_post_path(post, user_id: post.author_id), class:"btn btn-link text-decoration-none" %>       
    </div>
 </div>
