<section class="user-post-detail"> 
  <div class = "bg-content card d-flex flex-row px-5 py-2 mb-2 justify-content-between align-items-center"  >
    <div card class="user-picture ">
      <img class="rounded-circle border border-dark img-fluid" style="width: 150px; height:150px;" src=<%=@post.author.photo%> alt=<%=@post.author.name%> />
    </div>
    <div class="user-detail"> 
      <h2 class="user-name"><%=@post.author.name %></h2>
      <p><strong>Number of Posts: <%= @post.author.posts_counter || 0 %>      
    </div>
  </div>

    <div class="ps-3">
      <div class=" ps-3 border border-secondary p-2 my-2" >
        <h3 class="text-primary text-capitalize post-title"><%= @post.title %> </h3>
        <p class="text-dark text-capitalize fw-normal"><%= @post.text %> </p>
      </div> 
     
     
      <%= link_to "BACK", user_posts_path, class: "btn btn-secondary my-3" %>
      <%= link_to "HOME", users_path, class: "btn btn-primary my-3" %> 
                
          
  
    <%= render "shared/comments", comments: @post.comments.includes(:author) %>
    <div class="d-flex gap-3">   
    
      <%= link_to "Add Comment",
          new_comment_path(user_id: @post.author_id, post_id: @post.id),
          class:"btn btn-success pe-3 my-3 h4" %>   

      <%= link_to new_like_path(user_id: @post.author_id, post_id: @post.id),
          method: :post, class: "btn btn-primary my-3" do %>    
        <i class="bi bi-hand-thumbs-up h4"></i>
        <span class="badge badge-danger bg-danger rounded-circle ms-2 align-self-start"><%= @post.likes_counter %></span> 
      <%end %>    
    
      <% if can? :destroy, @post %>   
        <%= button_to "DELETE POST", [current_user, @post],
                    confirm: "Are you sure?",
                    method: :delete,
                    class:"btn btn-danger pe-3 my-3 py-2 h4"                  
                  %>
      <% end %>
    </div>
      
</section>






