<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>  

  </head>

  <body class="container-fluid px-lg-5" >
    <h1>Blog Website- for Everyone</h1>
    <%= yield %>
  </body>
</html>
