<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>  
  </head>

  <body class="app" > 
    <%= render partial: "shared/navbar" %>  
    <div class="bg-custom w-100 app px-5">
      <%= render partial: "shared/message" %>  
      <%= yield %>
    </div>
  </body>
</html>
